.bar {
	display: flex;
	justify-content: center;
	background-color: $background-color;
	border-radius: 0.5em;
	align-items: center;
}

#timer {
	flex-direction: row;

	span {
		font-size: min(14vw, 5em);
	}

	#icon {
		margin-right: 0.3em;
		aspect-ratio: 1;
	}

	#countdown {
		align-self: center;
	}

	#cycles {
		font-size: min(6vw, 2em);
		color: $alt-color;
		margin-left: 0.5em;
		align-self: center;
	}
}

div {
	margin-left: min(1vw, 1em);
	margin-right: min(1vw, 1em);
	margin-top: 1em;
	margin-bottom: 1em;
}

#info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5svw;
	margin-right: 5svw;
	font-size: min(4vw, 1em);

	>span {
		margin: 0.25em;
	}

	>span:first-child {
		margin-right: 10svw;
	}
}

.info-left {
	font-weight: bolder;
	margin-right: min(2em, 2vw);
}

.info-right {
	text-align: right;
}

.warning {
	color: $warning-color;
}

// not on schedule
.stop {
	color: $alt-color;
	font-style: italic;
}

// coffee break
.coffee {
	color: $coffee-color;
}

// -- progress bar --
@keyframes stripes {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 50px 0;
	}
}

.progress-bar {
	position: relative;
	overflow: hidden;
}

.progress-bar::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(168, 168, 168, 0.2);
	z-index: -1;
}
