.bar {
	display: flex;
	justify-content: center;
	background-color: #1a1a1a;
	border-radius: 0.5em;
	flex-direction: column;
}

#timer {
	flex-direction: row;
}

#timer span {
	font-size: 4em;
}

div {
	margin: 1em;
}

#timer > span:first-child {
	margin-right: 0.5em;
}

.stop {
	color: gray;
	font-style: italic;
}

.coffee {
	color: #b5651d;
}
