body {
	background-color: $back-color;
	color: $front-color;
	font-family: $font-stack;
    font-size: 1.5em;
}

::selection {
    background-color: $front-color;
    color: $back-color;
}

.btn {
    display: inline-block;
    color: $back-color;
    background-color: $front-color;
    border-radius: 0px;
    user-select: none;
	border-color: $front-color;
	text-transform: lowercase;
    font-size: 0.75em;
    text-align: center;
}

.btn:hover, .btn.active {
    animation: MULTICOLOR 1s infinite;
    cursor: pointer;
    border-color: transparent;
}

@keyframes MULTICOLOR {
    0%   { background-color:#9f0; color:#f3c; }
    10%  { background-color:#6ff; color:#f0c; }
    20%  { background-color:#39f; color:#9f0; }
    30%  { background-color:#3c0; color:#fff; }
    40%  { background-color:#03f; color:#f90; }
    50%  { background-color:#9f0; color:#f30; }
    60%  { background-color:#f0c; color:#fff; }
    70%  { background-color:#0ff; color:#f30; }
    80%  { background-color:#9f0; color:#066; }
    90%  { background-color:#f90; color:#03f; }
    100% { background-color:#03f; color:#f90; }
}

code {
    color: white;
    background-color: #333333;
    padding: 0 5px;
    border-radius: 5px;
}

#footer {
    font-size: 0.6em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;

    // make a border on top
    border-top: 1px solid #202020;
    padding-top: 1em;
}

#oktlogo {
    position: relative;
    top: 0.4em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 5%;
    user-select: none;
}

#footer-logo {
    width: 3em;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.25em;
}

a:visited, a {
    color: $front-color;
}
